body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: "Manrope", Helvetica, sans-serif;
}

li {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}

.header {
  background-color: #a91212;
  height: 10rem;
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  z-index: 1000;
}

.header-logo {
  height: 8rem;
}

.footer {
  background-color: #a91212;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

.sidebar-header {
  position: fixed;
  text-align: center;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #100a51;
  border-right: 0.5rem solid #100a51;
  top: 10rem;
  padding: 1rem;
  font-size: 1rem;
  height: 10rem;
  font-family: "Inter", sans-serif;
  z-index: 300;
}

.sidebar-header img {
  padding: 1rem;
  max-width: 8rem;
  height: auto;
}

.sidebar-header p {
  color: white;
}

.sidebar {
  position: fixed;
  top: 20rem;
  left: 0;
  bottom: 0;
  width: 15rem;
  background-color: #100a51;
  display: flex;
  flex-direction: column;
  border-right: 0.5rem solid #100a51;
  padding-top: 1rem;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  overflow-y: auto;
  z-index: 1000;
}

.sidebar .list-group {
  position: relative;
  width: 100%;
  max-width: calc(15rem - 1rem);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.5rem;
}

.sidebar .list-group-item {
  background-color: #100a51 !important;
  color: white !important;
  border-radius: 0.3rem;
  border: none;
  position: relative;
  margin-bottom: 2px;
}

.sidebar .list-group-item:hover,
.sidebar .list-group-item.active {
  background-color: white !important;
  color: #100a51 !important;
}


.sidebar .list-group-item.hover.active {
  background-color: white !important;
  color: #100a51 !important;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 1rem;
}

.sidebar li {
  color: white;
}

.sidebar ul li {
  margin-bottom: 1rem;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.sub-menu ul li {
  margin-bottom: 0.5rem;
}

.main-content {
  position: fixed;
  left: 15rem;
  top: 12rem;
}
.incident-title {
  font-size: 3rem;
  padding: 0.625rem;
  color: #000;
}

.card-body {
  align-items: center;
  justify-content: space-between;
  padding: 0 0.625rem;
}

.report-button {
  background-color: #a91212;
  color: white;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 5rem;
  height: 3rem;
  font-size: 0.625rem;
  padding: 0.3125rem;
  font-family: "Inter";
}

.search-bar {
  border: 1px solid #656565;
  width: 20%;
  height: 2.5rem;
  font-size: 0.3125rem;
  margin-left: 38.75rem;
}

.search-icon {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  color: #656565;
  font-size: 0.46875rem;
  border: none;
  background-color: transparent;
}

.scrollable-container {
  position: relative;
  overflow: auto;
  width: 37.5rem;
  height: 32.5rem;
  align-items: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  font-size: 0.625rem;
}

th,
td {
  text-align: center;
  padding: 1%;
  border-radius: 1%;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid #d9d9d9;
}

th {
  background-color: rgba(16, 10, 81, 0.15);
  color: #000;
  width: 10%;
  border-top: 1px solid #656565;
  font-family: "Inter";
}

td {
  font-family: "Manrope";
}

.no-border {
  border: none;
}

.btn.btn-primary {
  background-color: #a91212;
  color: white;
  font-weight: bold;
  border: none;
  margin-left: 0.5rem;
}

.btn.btn-primary:hover {
  background-color: white;
  color: #a91212;
  font-weight: bold;
  border: 1px solid #a91212;
}

.btn.btn-secondary {
  color: #656565;
  font-weight: bold;
  background-color: white;
}

.btn.btn-secondary:hover {
  background-color: #656565;
  color: white;
  margin-left: 0.5rem;
}

.btn.btn-tertiary {
  color: #100a51;
  font-weight: bold;
  background-color: white;
}

.btn-tertiary:hover {
  background-color: #a91212;
  color: white;
  border: 1px solid white;
}

.btn.btn-fourth {
  color: white;
  font-weight: bold;
  background-color: #656565;
}

.btn.btn-fourth:hover {
  background-color: white;
  color: #656565;
  margin-left: 0.5rem;
  border: 1px solid #656565;
}

.btn.btn-fifth {
  color: #000;
  font-weight: bold;
  background-color: white;
}

.btn.btn-fifth:hover {
  background-color: #000;
  color: white;
  margin-left: 0.5rem;
}

.btn.btn-sixth {
  color: #100a51;
  font-weight: bold;
  background-color: white;
}

.btn.btn-sixth:hover {
  background-color: #100a51;
  color: white;
  margin-left: 0.5rem;
}

.add {
  background-color: white;
  height: 15rem;
  width: 65rem;
  font-size: 1rem;
  border: none;
}

.add input:focus {
  outline: none;
}

.modal-title {
  font-size: 2rem;
}

.modal-body p {
  margin-bottom: 3px;
}

.modal-content {
  height: 40rem;
  width: 65rem;
  font-size: 0.9375rem;
  color: #000;
  position: fixed;
  padding: 2rem;
}

.modal-dialog {
  position: fixed;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: 1050;
}

.modal-footer {
  position: static;
  right: 4rem;
  bottom: 1.5rem;
  display: flex;
}

.modal-footer button {
  padding: 1rem;
  font-size: 0.9375rem;
}

.modal-footer hr {
  display: none;
}

.report-container {
  overflow: auto;
  width: 100rem;
  height: 40rem;
  align-items: center;
  border: 1px solid gray;
  margin: 1vw;
  font-size: 1rem;
}

.report-container h4 {
  font-size: 1.5rem;
}

.report-container p,
.report-container h4 {
  margin: 0.5vw 0;
}

.report-container select {
  padding: 0.25vw;
  font-size: 0.9375rem;
  border-radius: none;
  background-color: #a91212;
  color: white;
  cursor: pointer;
  font-weight: bold;
  caret-color: white;
}

#status option:focus {
  background-color: white;
  color: #a91212;
  cursor: pointer;
  font-weight: bold;
}

.analytics-container {
  width: 70%;
  height: 90%;
  background-color: white;
  margin: 2vw auto;
  padding: 1vw;
  text-align: left;
  font-size: 0.9375rem;
  border-radius: 1%;
  color: #000;
  border: 1px solid #656565;
  position: relative;
}

.analytics-container h3 {
  font-size: 2rem;
  margin-left: 2vw;
}

.analytics-container select {
  padding: 0.25vw;
  font-size: 0.9375rem;
  border: 1px solid #ccc;
  background-color: #a91212;
  color: white;
  font-weight: bold;
  width: 70%;
  margin-right: 2vw;
  margin-left: 2vw;
}

.analytics-container-map {
  width: 70%;
  height: 100%;
  background-color: white;
  margin: 2vw auto;
  padding: 1vw;
  text-align: left;
  font-size: 0.75vw;
  border-radius: 1%;
  color: #000;
  border: 1px solid #656565;
  position: relative;
}

.analytics-container-map h3 {
  font-size: 2vw;
  margin-left: 2vw;
}

.analytics-container-map select {
  padding: 0.25vw;
  font-size: 0.75vw;
  border: 1px solid #ccc;
  border-radius: none;
  background-color: #a91212;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-right: 2vw;
  margin-left: 2vw;
}

.help-container-2,
.help-container-3 {
  width: 100%;
  height: 90%;
  background-color: white;
  margin: 1vw auto;
  padding: 1vw;
  text-align: left;
  font-size: 1rem;
  color: #000;
}

.scrollable-container.help {
  position: relative;
  overflow: auto;
  width: 170rem;
  height: 70rem;
  align-items: center;
}

.accordion {
  background-color: transparent;
  color: #000;
  cursor: pointer;
  padding: 1rem;
  margin: 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  position: relative;
  box-shadow: none;
  transition: background-color 0.5s ease;
}

.accordion-panel {
  background-color: white;
  color: #000;
  padding: 0 1.5rem;
  margin: 0;
  display: none;
  overflow: hidden;
  transition: opacity 0.5s ease 0.3s;
  font-size: 1rem;
  border: 1px solid #656565;
  border-top: 1px solid white;
}

.accordion.active {
  background-color: white;
  color: #000;
  border: none;
  outline-style: none;
  border: 1px solid #656565;
  border-bottom: 1px solid white;
}

.accordion.active + .accordion-panel {
  display: block;
  opacity: 1;
}

.login_img {
  margin-top: 2rem;
  max-width: 40rem;
  min-width: 40rem;
  margin-bottom: 5rem;
}

.login {
  background-color: #100a51;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  color: white;
  width: 30rem;
}

.login-header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
  color: white;
  font-weight: bold;
}

.form-group {
  margin-bottom: 3rem;
  width: 100%;
}

.form-control {
  font-size: 1rem;
  width: 100%;
  height: 3rem;
}

.login-button {
  font-size: 1.25rem;
  width: 50%;
  height: 3rem;
  margin-bottom: 7rem;
  color: white;
}

.filter {
  font-size: 1rem;
  color: #000;
}

.filter select {
  padding: 0.25rem;
  font-size: 0.9375rem;
  border: 1px solid #ccc;
  border-radius: none;
  background-color: rgba(16, 10, 81, 0.15);
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.filter select option {
  background-color: white;
  color: #a91212;
}

.page-1,
.page-2 {
  display: none;
}

.page-1.active,
.page-2.active {
  display: table;
}

.label {
  color: #656565;
  font-weight: bold;
}

.same-size-btn {
  width: 25%;
}

.report select {
  padding: 0.25vw;
  font-size: 0.9375rem;
  border: 1px solid #ccc;
  border-radius: none;
  background-color: #a91212;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.analytics-container select {
  padding: 0.25vw;
  font-size: 0.9375rem;
  border: 1px solid #ccc;
  background-color: #a91212;
  color: white;
  font-weight: bold;
  width: 70%;
}

.legend-container {
  display: flex;
  align-items: left;
  margin-right: 0.25rem;
}

.legend-circle {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  position: sticky;
}

.medical {
  background-color: #a91212;
}

.vehicular {
  background-color: #100a51;
}

.other {
  background-color: #282828;
}

.legend-text {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.chev-icon {
  color: #a91212;
}

.print-icon {
  color: #d9d9d9;
}

.print-icon:hover {
  color: #a91212;
}

.form-icon {
  color: #a91212;
}

.form-icon:hover {
  color: #100a51;
}

.month-dropdown {
  background-image: url('data:image/svg+xml;utf8,<svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7 10l5 5 5-5z"></path></svg>');
  background-size: 2rem;
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 2rem;
  font-size: 0.625rem;
}

.btn.icon-button i {
  font-size: 2rem;
}

/* Disable eye button in Microsoft Edge */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.password-container {
  position: relative;
  width: 100%;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #000;
}

.flash-messages {
  list-style: none; /* Remove default bullet points */
  padding: 0;
  margin: 0; /* Reset margins */
}

/* Style for flash messages */
.flash-message {
  background-color: #e07070;
  color: #000; /* Black color for text */
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}

.flash-message .close-btn {
  float: right;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: #000;
}

.card-text {
  font-family: "Poppins";
}

.card-title {
  font-family: "Poppins";
  font-weight: bold;
}

.analytic-year {
  font-family: "Poppins";
  font-size: 1.2rem;
  font-weight: bold;
}

.print-icon {
  color: #d9d9d9;
}

.print-icon:hover {
  color: #a91212;
}

.form-icon {
  color: #a91212;
}

.form-icon:hover {
  color: #100a51;
}

.container-last {
  margin-bottom: 10vh;
}



@media only screen and (max-width: 1680px) and (max-height: 1050px) {
  .report-container {
    width: 75rem;
    height:25rem;
    font-size: 0.75rem;
  }

  .analytics-container {
    height: 140%;
  }

  
}

@media only screen and (max-width: 1600px) and (max-height: 900px) {
 
}

@media only screen and (max-width: 1440px) and (max-height: 900px) {
}

@media only screen and (max-width: 1440px) and (max-height: 1050px) {
}

@media only screen and (max-width: 1366px) and (max-height: 768px) {
}

@media only screen and (max-width: 1360px) and (max-height: 768px) {
}

@media only screen and (max-width: 1280px) and (max-height: 1024px) {
}

@media only screen and (max-width: 1280px) and (max-height: 960px) {
}

@media only screen and (max-width: 1280px) and (max-height: 800px) {
}

@media only screen and (max-width: 1280px) and (max-height: 768px) {
}

@media only screen and (max-width: 1280px) and (max-height: 800px) {
}

@media only screen and (max-width: 1280px) and (max-height: 768px) {
}

@media only screen and (max-width: 1280px) and (max-height: 720px) {
}

@media only screen and (max-width: 1280px) and (max-height: 600px) {
}

@media only screen and (max-width: 1152px) and (max-height: 864px) {
  
}

@media only screen and (max-width: 1024px) and (max-height: 768px) {
  

}

@media only screen and (max-width: 800px) and (max-height: 600px) {

}
