body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: "Manrope", Helvetica, sans-serif;
}

li {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}

.header {
  background-color: #a91212;
  height: 15vh;
  color: #fff;
  padding: 2vh;
  font-size: 1.5vw;
  font-family: "Inter";
}

.header-logo {
  height: 14vh;
}

.footer {
  background-color: #a91212;
  color: #fff;
  padding: 2vh 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  font-size: 1vw;
  font-family: "Inter";
}

.footer a {
  text-decoration: none;
  color: #fff;
}

.sidebar-header {
  position: fixed;
  text-align: center;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #100a51;
  border-right: 0.5vw solid #100a51;
  top: 15vh;
  padding: 2vh;
  font-size: 1vw;
  height: 25vh;
  font-family: "Inter";
}
.sidebar-header img {
  padding: 2vh;
  max-width: 12vh;
  height: auto;
}

.sidebar-header p {
  color: white;
}
.sidebar {
  position: fixed;
  top: 40vh;
  left: 0;
  bottom: 0;
  width: 15vw;
  background-color: #100a51;
  display: flex;
  flex-direction: column;
  border-right: 0.5vw solid #100a51;
  padding-top: 3vh;
  font-size: 1vw;
  font-family: "Lato";
}

.sidebar ul {
  list-style-type: none;
  padding-left: 1vw;
}

.sidebar li {
  color: white;
}

.sidebar ul li {
  margin-bottom: 2vh;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.sidebar a:hover {
  background-color: white;
  color: #100a51;
}

.sidebar a.active {
  background-color: white;
  color: #100a51;
  padding: 0.25vw;
}

.sub-menu ul li {
  margin-bottom: 1vh;
}

.main-content {
  position: fixed;
  left: 15vw;
  top: 20vh;
}

.incident-title {
  font-size: 2.5vw;
  padding: 1vw;
  color: #000;
}

.card-body {
  align-items: center;
  justify-content: space-between;
  padding: 0 1vw;
}

.report-button {
  background-color: #a91212;
  color: white;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 8vw;
  height: 6vh;
  font-size: 1vw;
  padding: 0.5vw;
  font-family: "Inter";
}

.search-bar {
  border: 1px solid #656565;
  width: 20%;
  height: 5vh;
  font-size: 0.5vw;
  margin-left: 62vw;
}

.search-icon {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  color: #656565;
  font-size: 0.75vw;
  border: none;
  background-color: transparent;
}

.scrollable-container {
  position: relative;
  overflow: auto;
  width: 60vw;
  height: 65vh;
  align-items: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  font-size: 1vw;
}

th,
td {
  text-align: center;
  padding: 1%;
  border-radius: 1%;
  margin-bottom: 0.5vh;
  border-bottom: 1px solid #d9d9d9;
}

th {
  background-color: rgba(16, 10, 81, 0.15);
  color: #000;
  width: 10%;
  border-top: 1px solid #656565;
  font-family: "Inter";
}

td {
  font-family: "Manrope";
}

.announcement-container {
  width: 90%;
  height: auto;
  background-color: #a91212;
  margin: 2vw auto;
  padding: 2vw;
  text-align: left;
  font-size: 1vw;
  border-radius: 1%;
}

.card.announcement-preview {
  height: 20vh;
}

.announcement {
  color: #a91212;
}

.no-border {
  border: none;
}

.date-announcement {
  border: 1px solid #a91212;
}

.button-match-height {
  height: 60%;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  color: white;
  background-color: #a91212;
  font-size: 1.5vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border: #a91212;
}

.form-control.announcement {
  border-radius: 5px;
  background-color: #d9d9d9;
  font-size: 1vw;
}

.faqs-container {
  width: 90%;
  height: 90%;
  background-color: #a91212;
  margin: 2vw auto;
  padding: 2vw;
  text-align: left;
  font-size: 1vw;
  border-radius: 1%;
  color: white;
}

.faqs-button {
  position: absolute;
  right: 5vw;
  bottom: 1.5vw;
  display: flex;
}

.faqs-button a {
  margin-left: 1vw;
  font-size: 1vw;
  padding: 0.5vw;
}

.btn.btn-primary {
  background-color: #a91212;
  color: white;
  font-weight: bold;
  border: none;
  margin-left: 0.5vw;
}

.btn.btn-primary:hover {
  background-color: white;
  color: #a91212;
  font-weight: bold;
  border: 1px solid #a91212;
}

.btn.btn-secondary {
  color: #656565;
  font-weight: bold;
  background-color: white;
}

.btn.btn-secondary:hover {
  background-color: #656565;
  color: white;
  margin-left: 0.5vw;
}

.btn.btn-tertiary {
  color: #100a51;
  font-weight: bold;
  background-color: white;
}

.btn-tertiary:hover {
  background-color: #a91212;
  color: white;
  border: 1px solid white;
}

.btn.btn-fourth {
  color: white;
  font-weight: bold;
  background-color: #656565;
}

.btn.btn-fourth:hover {
  background-color: white;
  color: #656565;
  margin-left: 0.5vw;
  border: 1px solid #656565;
}

.btn.btn-fifth {
  color: #000;
  font-weight: bold;
  background-color: white;
}

.btn.btn-fifth:hover {
  background-color: #000;
  color: white;
  margin-left: 0.5vw;
}

.btn.btn-sixth {
  color: #100a51;
  font-weight: bold;
  background-color: white;
}

.btn.btn-sixth:hover {
  background-color: #100a51;
  color: white;
  margin-left: 0.5vw;
}

.checkbox {
  height: 2.5vh;
  width: 3vh;
  border: 1px solid white;
}

.card.faqs-add {
  height: 40vh;
}

.faqs-add-button {
  position: absolute;
  right: 3vw;
  bottom: 1.5vw;
  display: flex;
}

.faqs-add-button a {
  margin-left: 1vw;
  font-size: 1vw;
  padding: 0.2vw;
  border-radius: 0%;
}

.add {
  background-color: white;
  height: 15vhw;
  width: 65vw;
  font-size: 1vw;
  border: none;
}

.add input:focus {
  outline: none;
}

.edit {
  background-color: white;
  height: 20vh;
  width: 50vw;
  font-size: 1vw;
  border: none;
}

.modal-title {
  font-size: 2vw;
}

.modal-body p {
  margin-bottom: 3px;
}

.modal-content {
  height: 70vh;
  width: 60vw;
  font-size: 0.75vw;
  color: #000;
  position: fixed;
  padding: 2vw;
}

.modal-dialog {
  position: fixed;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: 1050;
}

.modal-footer {
  position: static;
  right: 5vw;
  bottom: 1.5vw;
  display: flex;
}

.modal-footer button {
  padding: 1vw;
  font-size: 0.75vw;
}

.modal-footer hr {
  display: none;
}
.report-container {
  overflow: auto;
  width: 80vw;
  height: 65vh;
  align-items: center;
  border: 1px solid gray;
  margin: 1vw;
  font-size: 1vw;
}

.report-container h4 {
  font-size: 1.5vw;
}

.report-container p,
.report-container h4 {
  margin: 0.5vw 0;
}

.report-container select {
  padding: 0.25vw;
  font-size: 0.75vw;
  border-radius: none;
  background-color: #a91212;
  color: white;
  cursor: pointer;
  font-weight: bold;
  caret-color: white;
}

/* Style the dropdown options */
#status option:focus {
  background-color: white;
  color: #a91212;
  cursor: pointer;
  font-weight: bold;
}

.analytics-container {
  width: 70%;
  height: 120%;
  background-color: white;
  margin: 2vw auto;
  padding: 1vw;
  text-align: left;
  font-size: 0.75vw;
  border-radius: 1%;
  color: #000;
  border: 1px solid #656565;
  position: relative;
}

.analytics-container h3 {
  font-size: 2vw;
  margin-left: 2vw;
}

.analytics-container select {
  padding: 0.25vw;
  font-size: 0.75vw;
  border: 1px solid #ccc;
  border-radius: none;
  background-color: #a91212;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-right: 2vw;
  margin-left: 2vw;
}

.help-container-2 {
  width: 100%;
  height: 90%;
  background-color: white;
  margin: 1vw auto;
  padding: 1vw;
  text-align: left;
  font-size: 1vw;
  color: #000;
}

.help-container-3 {
  width: 100%;
  height: 90%;
  background-color: white;
  margin: 1vw auto;
  padding: 1vw;
  text-align: left;
  font-size: 1vw;
  color: #000;
}
.scrollable-container.help {
  position: relative;
  overflow: auto;
  width: 170vh;
  height: 70vh;
  align-items: center;
}
.accordion {
  background-color: transparent;
  color: #000;
  cursor: pointer;
  padding: 1vw;
  margin: 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1vw;
  position: relative;
  box-shadow: none;
  transition: background-color 0.5s ease;
}

.accordion-panel {
  background-color: white;
  color: #000;
  padding: 0 1.5vw;
  margin: 0;
  display: none;
  overflow: hidden;
  transition: opacity 0.5s ease 0.3s;
  font-size: 1vw;
  border: 1px solid #656565;
  border-top: 1px solid white;
}

.accordion.active {
  background-color: white;
  color: #000;
  border: none;
  outline-style: none;
  border: 1px solid #656565;
  border-bottom: 1px solid white;
}

.accordion.active + .accordion-panel {
  display: block;
  opacity: 1;
}

.login_img {
  max-width: 35vw;
  min-width: 35vw;
  margin-bottom: 20px;
}

.login-form {
  background-color: #100a51;
  padding: 2vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1vw;
  color: white;
  height: 55vh;
  width: 30vw;
  margin-top: 5vw;
}

.login-header {
  text-align: center;
  font-size: 2vw;
  margin-bottom: 3vh;
  color: white;
  font-weight: bold;
}

.form-group {
  margin-bottom: 5vh;
  width: 100%;
}

.form-control {
  font-size: 1vw;
  width: 100%;
  height: 4vh;
}

.login-button {
  font-size: 1.25vw;
  width: 50%;
  height: 5vh;
  margin-bottom: 7vh;
  color: white;
}

.filter {
  font-size: 1vw;
  color: #000;
}

.filter select {
  padding: 0.25rem;
  font-size: 0.75vw;
  border: 1px solid #ccc;
  border-radius: none;
  background-color: rgba(16, 10, 81, 0.15);
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.filter select option {
  background-color: white;
  color: #a91212;
}
.pagination {
  position: static;
  bottom: 1vh;
  right: 0;
  text-align: right;
  margin-left: 75vw;
}

.pagination button {
  padding: 0.75vw;
  margin: 0 0.2vw;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #656565;
  color: white;
  font-size: 0.5vw;
}

.pagination button.active {
  background-color: #a91212;
  color: white;
}

.page-1,
.page-2 {
  display: none;
}

.page-1.active,
.page-2.active {
  display: table;
}

.label {
  color: #656565;
  font-weight: bold;
}

.same-size-btn {
  width: 25%;
}

.report select {
  padding: 0.25vw;
  font-size: 0.75vw;
  border: 1px solid #ccc;
  border-radius: none;
  background-color: #a91212;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.analytics-container select {
  padding: 0.25vw;
  font-size: 1.25vw;
  border: 1px solid #ccc;
  background-color: #a91212;
  color: white;
  font-weight: bold;
  width: 70%;
}

.legend-container {
  display: flex;
  align-items: left;
  margin-right: 0.25vw;
}

.legend-circle {
  display: inline-block;
  width: 1vw;
  height: 2vh;
  border-radius: 50%;
  margin-right: 0.5vw;
  position: sticky;
}

.medical {
  background-color: #a91212;
}

.vehicular {
  background-color: #100a51;
}

.other {
  background-color: #282828;
}

.legend-text {
  font-size: 1vw;
  margin-right: 0.5vw;
}

.chev-icon {
  color: #a91212;
}

.month-dropdown {
  background-image: url('data:image/svg+xml;utf8,<svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7 10l5 5 5-5z"></path></svg>');
  background-size: 2vw;
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 2vw;
  font-size: 0.5vw;
}

.btn.icon-button i {
  font-size: 2vw;
}

/* Disable eye button in Microsoft Edge */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
.password-container {
  position: relative;
  width: 100%;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #000;
}

.flash-messages {
  list-style: none; /* Remove default bullet points */
  padding: 0;
  margin: 0; /* Reset margins */
}

/* Style for flash messages */
.flash-message {
  background-color: #e07070;
  color: #000; /* Black color for text */
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}
.flash-message .close-btn {
  float: right;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: #000;
}

.card-text {
  font-family: "Poppins";
}

.card-title {
  font-family: "Poppins";
  font-weight: bold;
}

.analytic-year {
  font-family: "Poppins";
  font-size: 1.2vw;
  font-weight: bold;
}

.print-icon {
  color: #d9d9d9;
}

.print-icon:hover {
  color: #a91212;
}
@media only screen and (max-width: 1680px) and (max-height: 1050px) {
}

@media only screen and (max-width: 1600px) and (max-height: 900px) {
}

@media only screen and (max-width: 1440px) and (max-height: 900px) {
}

@media only screen and (max-width: 1440px) and (max-height: 1050px) {
}

@media only screen and (max-width: 1366px) and (max-height: 768px) {
}

@media only screen and (max-width: 1360px) and (max-height: 768px) {
}

@media only screen and (max-width: 1280px) and (max-height: 1024px) {
}

@media only screen and (max-width: 1280px) and (max-height: 960px) {
}

@media only screen and (max-width: 1280px) and (max-height: 800px) {
}

@media only screen and (max-width: 1280px) and (max-height: 768px) {
}

@media only screen and (max-width: 1280px) and (max-height: 800px) {
}

@media only screen and (max-width: 1280px) and (max-height: 768px) {
}

@media only screen and (max-width: 1280px) and (max-height: 720px) {
}

@media only screen and (max-width: 1280px) and (max-height: 600px) {
}

@media only screen and (max-width: 1152px) and (max-height: 864px) {
}

@media only screen and (max-width: 1024px) and (max-height: 768px) {
}

@media only screen and (max-width: 800px) and (max-height: 600px) {
}
