body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.container-fluid {
  min-height: calc(100vh - 10%);
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  background-color: #a91212;
  border-bottom: 1px solid #ddd;
  color: #fff;
  padding: 2vw;
  font-size: large;
}

.header_img {
  max-width: 80%;
}
.footer {
  background-color: #a91212;
  color: #fff;
  padding: 1.5vh 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  margin-top: 20vh;
  font-size: small;
}

.footer p {
  margin-bottom: 0.25vh;
}

.logo-img {
  max-width: 20%;
}

.accordion .card-header {
  background-color: #100a51;
  color: white;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: left;
  align-items: center;
}

.accordion .card-body {
  background-color: #100a51;
  color: white;
  font-weight: 500;
}

.accordion .card-header button {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.accordion .card-header button:focus {
  box-shadow: none;
}

.accordion .card-header .fa-chevron-up {
  color: white;
}

.container-last {
  margin-bottom: 20vh;
}

.report-button {
  background-color: #100a51;
  color: white;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  border-radius: 3px;
  text-decoration: none;
}

.report-button:hover {
  color: white;
  text-decoration: none;
}

.report-button a {
  text-decoration: none;
  color: inherit;
}

.red-label {
  color: black;
  padding: 0.3vh 0.8vw;
}

.form-control {
  border-radius: 0;
  border-color: #000;
}
.form-group {
  margin: 2vw;
}

.input-group {
  border: none;
  background-color: white;
}

.no-border {
  border: none;
}

.input-group-text.no-border {
  background-color: inherit;
  color: inherit;
}

.photo-icon {
  max-width: 100%;
}

.underline {
  text-decoration: underline;
}

.font-italic {
  font-style: italic;
}
.text-decoration-underline {
  text-decoration: underline;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.report-container {
  width: 80%;
  height: 90%;
  background-color: #100a51;
  margin: 2vw auto;
  padding: 2vw;
  text-align: left;
  border-radius: 1%;
  color: white;
}

.accordion {
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 1vw;
  margin: 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-weight: bold;
  position: relative;
  box-shadow: none;
  transition: background-color 0.5s ease;
}

.accordion-panel {
  background-color: #100a51;
  color: white;
  padding: 0 1.5vw;
  margin: 0;
  display: none;
  overflow: hidden;
  transition: opacity 0.5s ease 0.3s;
  border: 2px solid white;
  border-top: 1px solid #100a51;
}

.accordion.active {
  background-color: #100a51;
  color: white;
  border: none;
  outline-style: none;
  border: 2px solid white;
  border-bottom: 1px solid #100a51;
}

.accordion.active + .accordion-panel {
  display: block;
  opacity: 1;
}

.back-button {
  color: #a91212;
}

.form-control-sm-6 {
  max-width: 60vw;
}

.form-control-sm-4 {
  max-width: 40vw;
}

.form-control-sm-2 {
  max-width: 25vw;
}

.input-icon {
  position: relative;
  display: flex;
}

.fas.fa-map-marker {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
}

.submit-button {
  background-color: #100a51;
  color: white;
  cursor: pointer;
  border: none;
  align-items: center;
  padding: 1vw;
  border-radius: 3px;
  width: 30%;
  font-weight: 500;
}

.submit-button:hover {
  background-color: #a91212;
  color: white;
}

.asterisk {
  color: #a91212;
}

.custom-checkbox .form-check-input[type="checkbox"] {
  border-color: black;
}
