<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iReport</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminstyles.css') }}" />
</head>

<body>
  <header class="header d-flex justify-content-between align-items-center py-3">
    <div class="ml-4">
      <img src="{{ url_for('static', filename='image/CDRRMO_LOGO.png') }}" alt="Left Logo" class="header-logo" />
    </div>
    <div class="text-center">
      <div>i-Report</div>
      <div>CABUYAO CITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE</div>
    </div>
    <div class="mr-4">

    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <div class="sidebar-header">
        <img src="{{ url_for('static', filename='image/user.png') }}" alt="Sidebar Image" />
        <p>Operator Cruz</p>
      </div>
      <div class="sidebar">
        <ul>
          <li class="dropdown sub-btn">
            <a><i class="fa fa-home"></i> Home</a> &nbsp;<i class="fa fa-chevron-down"></i>
            <div class="sub-menu">
              <ul>
                <li>
                  <a href="{{ url_for('report') }}"><i class="fa fa-list-alt"></i> Reports</a>
                </li>
                <li>
                  <a href="{{ url_for('announcement') }}"><i class="fa fa-bullhorn"></i> Announcements</a>
                </li>
                <li>
                  <a href="{{ url_for('admin_faqs') }}"><i class="fa fa-question"></i> FAQs</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="{{ url_for('analytics') }}"><i class="fas fa-chart-bar"></i> Analytics</a>
          </li>
          <li>
            <a href="{{ url_for('help') }}"><i class="fa fa-question-circle"></i> Help</a>
          </li>
        </ul>
      </div>

      <div class="main-content">
        <div class="incident-title">
          <div class="card-body d-flex">
            <div>
              <p class="card-text">FREQUENTLY ASKED QUESTIONS</p>
            </div>
          </div>
        </div>

        <div class="scrollable-container announcement">
          <div class="faqs-container">
            <ul class="faq-list">
              <li class="row align-items-center">
                <div class="col-md-10 col-8">
                  <label>
                    <input type="checkbox" class="checkbox" />
                    How do I report an incident?
                  </label>
                </div>
                <div class="col-md-2 col-4 text-end">
                  <span>
                    <i class="fas fa-edit" data-toggle="modal" data-target="#editModal"></i>
                  </span>

                </div>
              </li>
              <li class="row align-items-center">
                <div class="col-md-10 col-8">
                  <label>
                    <input type="checkbox" class="checkbox" />
                    Where is the CDRRMO located?
                  </label>
                </div>
                <div class="col-md-2 col-4 text-end">
                  <span>
                    <i class="fas fa-edit" data-toggle="modal" data-target="#editModal"></i>
                  </span>

                </div>
              </li>
            </ul>
            <div class="faqs-button">
              <a href="faqs_add.html" class="btn btn-tertiary">Add</a>
              <a href="#" onclick="history.back();" class="back-button btn btn-secondary">Remove</a>

            </div>
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-1">
              <a href="{{ url_for('logout') }}">LOGOUT</a>
            </div>
          </div>
        </div>
      </footer>

      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <form id="editForm">
                <div>
                  <label class="editQuestion" for="title">Title Question:</label>
                  <input type="text" class="no-border" id="title">
                </div>

                <div class="row">
                  <div class="col-md-10">
                    <textarea id="editContent" rows="10" class="edit"></textarea>
                  </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/adminscripts.js') }}"></script>
</body>

</html>