{% extends 'admin/admin_base.html' %} {% block content%}
<div id="page-content-wrapper">
  <div class="container-fluid px-4">
    <div class="card">
      <div class="card-title">Frequently Asked Questions</div>
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              How do I update incident's status
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseOne"
            class="accordion-collapse collapse show"
          >
            <div class="accordion-body">
              <p>Change the status into Ongoing:</p>
              <p>Step 1: Click the file icon in the View Details column.</p>
              <p>Step 2: Locate and click the "Edit" button.</p>
              <p>
                Step 3: Locate the status dropdown and change it into Ongoing.
              </p>
              <br />
              <p>Change the status into Resolved:</p>
              <p>Step 1: Click the file icon in the View Details column.</p>
              <p>Step 2: Locate and click the "Edit" button.</p>
              <p>
                Step 3: Fill out the incident details field with information
                from the rescue team.
              </p>
              <p>
                Step 4: Locate the status dropdown and change it into Resolved.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwo"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo"
            >
              How do I change my password
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseTwo"
            class="accordion-collapse collapse"
          >
            <div class="accordion-body">
              An account cannot be personally and physically edited by the
              account holder. They must contact office's IT department to update
              any information about their account.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseThree"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseThree"
            >
              Where is the Responder Incident Form located?
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseThree"
            class="accordion-collapse collapse"
          >
            <div class="accordion-body">
              <p>The document can be found here:</p>
              <div class="row">
                <div class="col-6 text-left mb-4">
                  <span class="d-inline-block">Responder Incident Form</span>
                  <a
                    href="{{ url_for('static', filename='forms/IncidentForm.pdf') }}"
                    target="_blank"
                    ><i class="fas fa-print fa-2x ml-2 form-icon"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
  </div>
</div>
