{% extends 'admin/admin_base.html' %} {% block navbar%} {% endblock %} {% block
content%}
<!-- Flash message container -->
<div class="container">
  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="flash-message">
    {{ messages[0] }}
    <!-- Display only the first flash message, you can modify it as needed -->
    <span class="close-btn" onclick="this.parentElement.style.display='none';"
      >&times;</span
    >
  </div>
  {% endif %} {% endwith %}
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 d-flex justify-content-center">
      <div class="d-flex justify-content-center">
        <img
          src="{{ url_for('static', filename='image/CDRRMO_LOGO.png') }}"
          alt="Left Logo"
          class="login_img"
        />
      </div>
      <div class="col-lg-12 d-flex justify-content-center">
        <form class="login-form" method="POST">
          <h1 class="login-header">i-REPORT</h1>
          <div class="form-group">
            <label for="email" class="mb-0">EMPLOYEE ID</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
            />
          </div>
          <div class="form-group">
            <label for="password" class="mb-0">PASSWORD</label>
            <div class="password-container">
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
              />
              <i id="togglePassword" class="toggle-password fas fa-eye"></i>
            </div>
          </div>
          <div class="row justify-content-center">
            <button
              type="submit"
              class="btn btn-tertiary login-button d-flex align-items-center justify-content-center"
            >
              <span class="align-middle">LOGIN</span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>

{% endblock %} {% block script %}
<script>
  // Get the eye button and the password input field
  const togglePassword = document.getElementById("togglePassword");
  const password = document.getElementById("password");

  // Add click event listener to the eye button
  togglePassword.addEventListener("click", function () {
    // Toggle the type attribute of the password field between 'password' and 'text'
    const type =
      password.getAttribute("type") === "password" ? "text" : "password";
    password.setAttribute("type", type);
    // Change the eye icon based on the password field's visibility
    togglePassword.classList.toggle("fa-eye-slash");
  });
</script>
{% endblock %}
