{% extends 'admin/admin_base.html' %}

{% block content%}

<style>
  table#reportTable tbody tr td:nth-child(5) {
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 20%;
    overflow: hidden;
    white-space: normal; /* Allow wrapping */ 
  } 


  table#reportTable tbody tr td:nth-child(7) {
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 30%;
    overflow: hidden;
    white-space: normal; /* Allow wrapping */  
  }

</style>

<div class="main-content">
  <div class="report-container col-10">
    <div class="incident-title">
      <div class="card-body d-flex">
        <div class="col-10">
          <p class="card-text">ALL INCIDENT REPORTS</p>
        </div>
        <button type="button" class="btn icon-button"  onclick="printReportPDF()">
          <i class="fas fa-print fa-lg print-icon"></i>
        </button>
        <div class=" d-flex align-items-center">
            <select class="report-button form-select month-dropdown">
              <option value="1"> MARCH 2024</option>
              <option value="2"> APRIL 2024</option>
              <option value="3"> MAY 2024</option>
              <option value="4"> JUNE 2024</option>
              <option value="5"> JULY 2024</option>
              <option value="6"> AUGUST 2024</option>
            </select>
        </div>
      </div>
    </div>

    <div class="row">
      <table id="reportTable" style="width: 100%;">
        <thead>
          <tr>
            <th class="text-center">Report ID</th>
            <th class="text-center">Date and Time</th>
            <th class="text-center">Phone Number</th>
            <th class="text-center">Name</th>
            <th class="text-center">Location</th>
            <th class="text-center">Victims (Estimated)</th>
            <th class="text-center">Further Details</th>
            <th class="text-center">Status</th>
            <th class="text-center">View Details</th>
          </tr>
        </thead>
        <tbody>
          {% for report in reports %}
          <tr>
            <td class="text-center">{{ report[0] }}</td>
            <td class="text-center">{{ report[1] }}</td>
            <td class="text-center">{{ report[2] }}</td>
            <td class="text-center">{{ report[3] }}</td>
            <td class="text-center">
              {% if report[5] !=0 and report[6] !=0 %}
              <button type="button" class="btn icon-button show-map-btn" data-toggle="modal" data-lat="{{ report[5] }}"
                data-lng="{{ report[6] }}">
                <i class="fas fa-map-marked-alt fa-lg"></i>
              </button>
              {% else %}
                {{ report[4] }}
              {% endif %}
            </td>
              <td class="text-center">{{ report[7] }}</td>
              <td class="text-center">{{ report[8] }}</td>
              <td class="text-center">{{ report[10] }}</td>
              <td class="text-center">
                <button type="button" class="btn icon-button details-btn" data-toggle="modal" data-target="#detailsModal"
                        data-report-id="{{ report[0] }}" data-date="{{ report[1] }}" data-phone="{{ report[2] }}"
                        data-name="{{ report[3] }}" data-location="{{ report[4] }}" data-victims="{{ report[7] }}"
                        data-details="{{ report[8] }}" data-picture="{{ report[9] }}" data-responder="{{ report[10] }}"
                        data-status="{{ report[13] }}" data-category="{{ report[14] }}" data-cluster="{{ report[11]}}" 
                        data-distance="{{ report[12]}}">
                    <i class="far fa-file fa-lg"></i>
                </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

</div>
</div>
<!-- Map Modal -->
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-body" style="text-align: center;">
    <div id="map"></div>
  </div>
</div>
</div>
</div>

<!-- Details Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModal"
aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
    <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="detailsModalLabel">Report Details</h5>
    </div>
    <div class="modal-body" style="font-size: large; overflow-y: auto;">
        <!-- Data will be populated here -->
    </div>
    <div class="modal-footer">
      <!-- Close Button -->
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      <!-- Edit Button -->
      <button type="button" class="btn btn-primary" id="editReport" data-report-id="{{ reportId }}">Edit</button>   
  </div>
</div>
</div>
</div>

<!-- Edit Details Modal -->
<div class="modal fade" id="editDetailsModal" tabindex="-1" role="dialog" aria-labelledby="editDetailsModal" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
    <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="detailsModalLabel">Report Details</h5>
    </div>
    <div class="modal-body" style="font-size: large; overflow-y: auto;">
      <form id="editReportForm" action="/update_report" method="POST">
        <div class="form-group">
          <label for="responder_report" class="form-label">Incident Details:</label>
          <textarea class="form-control" id="responder_report" name="responder_report" rows="2" maxlength="255"></textarea>
        </div>
        <div class="form-group">
          <label for="status">Status:</label>
          <select class="form-control form-select" id="status" name="status" required style="height: 3vw;" >
          <option value="1">Pending</option>
          <option value="2">Ongoing</option>
          <option value="3">Resolved</option>
          </select>
        </div>
    </div>
    <div class="modal-footer">
      <!-- Close Button -->
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      <!-- Edit Button -->
      <button type="submit" class="btn btn-primary" id="saveReport">Save</button>   
  </div>
</form>
</div>
</div>
</div>

{% endblock %} 

{% block script %}
<script>
  $(document).ready(function () {
    $('#reportTable').DataTable({
      //"searching": false, // Disable search bar
      //"paging": false, // Disable pagination
      "lengthChange": false, // Disable "entries per page" selection
      // Add any other options you need
    });
  });
</script>

<script>
  $(document).ready(function () {
    $('.show-map-btn').click(function () {
      $('#mapModal').modal('show');
      var lat = $(this).data('lat');
      var lng = $(this).data('lng');
      $('#mapModal').on('shown.bs.modal', function () {
        initializeMap(lat, lng);
      });
    });

    function initializeMap(lat, lng) {
      // Remove any existing map instance
      $('#map').remove();

      // Create a new map container
      var mapContainer = $('<div id="map" style="width: 100%; height: 100%;"></div>');
      $('.modal-body').append(mapContainer);

      var map = L.map('map').setView([lat, lng], 17);

      map.setMinZoom(14); // Adjust the maximum zoom level as needed

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      const marker = L.marker([lat, lng]).addTo(map);

    }
  });
</script>

<script>
document.addEventListener("DOMContentLoaded", function () {
  var currentReportId; // Variable to store the current reportId  
  
  var detailsButtons = document.querySelectorAll(".details-btn");
  detailsButtons.forEach(function (button) {
      button.addEventListener("click", function () {
          var reportId = this.getAttribute("data-report-id");
          var date = this.getAttribute("data-date");
          var phone = this.getAttribute("data-phone");
          var name = this.getAttribute("data-name");
          var location = this.getAttribute("data-location");
          var victims = this.getAttribute("data-victims");
          var details = this.getAttribute("data-details");
          var status = this.getAttribute("data-status");
          var category = this.getAttribute("data-category");
          var responder = this.getAttribute("data-responder");
          var picture = this.getAttribute("data-picture"); // Get picture URL
          var cluster = this.getAttribute("data-cluster");
          var distance = this.getAttribute("data-distance");

          // Populate modal header and body with data
          var modal = document.querySelector("#detailsModal");
          var modalTitle = modal.querySelector(".modal-title");
          var modalBody = modal.querySelector(".modal-body");

          modalTitle.innerText = "Incident Report No. " + reportId;

          var warningMessage = " ";
          // Display a warning message if the cluster distance is less than 0.75
          if (distance < 0.75) {
            warningMessage = `<p style="color: red; font-weight: bold; margin-bottom: 10px;">**Warning:** This report may be fraudulent or suspicious. Verify report details thoroughly.</p>`;
          }

          modalBody.innerHTML = `
          ${warningMessage}
          <p class="mb-3"><span style="color: gray;">Category:</span> ${category}</p>
          <p class="mb-3"><span style="color: gray;">Date and Time:</span> ${date}</p>
          <p class="mb-3"><span style="color: gray;">Phone Number:</span> ${phone}</p>
          <p class="mb-3"><span style="color: gray;">Reported by:</span> ${name}</p>
          <p class="mb-3"><span style="color: gray;">Location:</span> ${location}</p>
          <p class="mb-3"><span style="color: gray;">Estimated Number of Victims:</span> ${victims}</p>
          <p class="mb-3"><span style="color: gray;">Further Details:</span> ${details}</p>
          <p class="mb-3"><span style="color: gray;">Incident Details:</span> ${responder}</p>
          ${picture !== 'None' && picture !== null ?  // Check for both null and "None"
            `<p class="mb-3"><span style="color: gray;">Picture:</span><br><img src="${picture}" alt="Incident Picture" style="display: block; margin: 0 auto; max-width: 40%; height: auto;"></p>` :
            '<p class="mb-3"><span style="color: gray;">Picture:</span> No picture available</p>'
          }

          `;

          // Set the title of the editDetailsModal
          var editModalTitle = document.querySelector("#editDetailsModal .modal-title");
          editModalTitle.innerText = "Edit Incident Report No. " + reportId;
          // Add report ID to edit button data attribute
          currentReportId = this.getAttribute("data-report-id");

          // Show the modal
          $('#detailsModal').modal('show');
      });
  });

    // Event listener for edit button click
    var editButton = document.getElementById("editReport");
    editButton.addEventListener("click", function () {
        // Set the reportId attribute of the edit button
        editButton.dataset.reportId = currentReportId;
        // Show the editDetailsModal
        $('#editDetailsModal').modal('show');
    });

    // Event listener for form submission
document.getElementById("editReportForm").addEventListener("submit", function (event) {
// Prevent default form submission
event.preventDefault();

// Manually submit the form
var form = this;

// Retrieve the reportId from the stored variable
var reportId = currentReportId;

// Add the reportId to the form data
var formData = new FormData(form);
formData.append('reportId', reportId);

$.ajax({
  url: form.action,
  method: form.method,
  data: formData,
  processData: false,
  contentType: false,
  success: function (response) {
    // Reload the page after successful submission
    location.reload();
  },
  error: function (xhr, status, error) {
    // Handle error response
    console.error("Error submitting form:", error);
    console.log("Response:", xhr.responseText);
    // Optionally display error message to user
  }
});
});


});
</script>

<script>
function printReportPDF() {
  window.location.href = "/report/print-pdf";  // Redirect to the new route
}
</script>


{% endblock %}
