<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>iReport</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/adminstyles.css') }}" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700|Lato:wght@300;400;700|Poppins:wght@300;400;500;600;700|Manrope:wght@300;400;500;600;700&display=swap" rel="stylesheet">  
  <link href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    
</head>

<body>
  <header class="header d-flex justify-content-between align-items-center py-3">
    <div class="ml-4">
      <img src="{{ url_for('static', filename='image/CDRRMO_LOGO.png') }}" alt="Left Logo" class="header-logo" />
    </div>
    <div class="text-center">
      <div>i-Report</div>
      <div>CABUYAO CITY DISASTER RISK REDUCTION AND MANAGEMENT OFFICE</div>
    </div>
    <div class="mr-4"></div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <div class="sidebar-header">
        <img src="{{ url_for('static', filename='image/user.png') }}" alt="Sidebar Image" />
        <p>Operator Cruz</p>
      </div>
      <div class="sidebar">
        <ul>
          <li>
            <a href="{{ url_for('report') }}"><i class="fa fa-list-alt"></i> Reports</a>
          </li>

          </li>
          <li>
            <a href="{{ url_for('analytics') }}"><i class="fas fa-chart-bar"></i> Analytics</a>
          </li>
          <li>
            <a href="{{ url_for('help') }}"><i class="fa fa-question-circle"></i> Help</a>
          </li>
        </ul>
      </div>



      <div class="main-content">
        <div class="report-container col-12">
          <div class="incident-title">
            <div class="card-body d-flex">
              <div class="col-8">
                <p class="card-text">ALL INCIDENT REPORTS</p>
              </div>
              <div class="ml-auto d-flex align-items-center">
                  <select class="report-button form-select month-dropdown">
                    <option value="1">MARCH 2024</option>
                    <option value="2">APRIL 2024</option>
                    <option value="3">MAY 2024</option>
                    <option value="4">JUNE 2024</option>
                    <option value="5">JULY 2024</option>
                    <option value="6">AUGUST 2024</option>
                  </select>
              </div>
            </div>
          </div>

          <div class="row">
            <table id="reportTable" class="table table-striped" style="width: 120%;">
              <thead>
                <tr>
                  <th class="text-center">Report ID</th>
                  <th class="text-center">Date and Time</th>
                  <th class="text-center">Phone Number</th>
                  <th class="text-center">Name</th>
                  <th class="text-center">Location</th>
                  <th class="text-center">Victims (Estimated)</th>
                  <th class="text-center">Further Details</th>
                  <th class="text-center">Status</th>
                  <th class="text-center">View Details</th>
                </tr>
              </thead>
              <tbody>
                {% for report in reports %}
                <tr>
                  <td class="text-center">{{ report[0] }}</td>
                  <td class="text-center">{{ report[1] }}</td>
                  <td class="text-center">{{ report[2] }}</td>
                  <td class="text-center">{{ report[3] }}</td>
                  <td class="text-center">
                    {% if report[5] is not none and report[6] is not none %}
                    <button type="button" class="btn show-map-btn" data-toggle="modal" data-lat="{{ report[5] }}"
                      data-lng="{{ report[6] }}">
                      <i class="fas fa-map-marked-alt fa-lg"></i>
                    </button>
                    {% else %}
                    {{ report[4] }}
                    {% endif %}
                  </td>
                  <td class="text-center">{{ report[7] }}</td>
                  <td class="text-center">{{ report[8] }}</td>
                  <td class="text-center">{{ report[9] }}</td>
                  <td class="text-center">
                    <button type="button" class="btn icon-button">
                      <i class="far fa-file fa-lg"></i>
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Map Modal -->
  <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body" style="text-align: center;">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body" style="text-align: center;">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>


  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-1">
          <a href="{{ url_for('logout') }}">LOGOUT</a>
        </div>
      </div>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='js/jquery-3.7.1.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
  <script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
  <script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js"></script>
  <script src="{{ url_for('static', filename='js/adminscripts.js') }}"></script>

  <script>
    $(document).ready(function () {
      $('#reportTable').DataTable({
        //"searching": false, // Disable search bar
        //"paging": false, // Disable pagination
        "lengthChange": false, // Disable "entries per page" selection
        // Add any other options you need
      });
    });
  </script>

  <script>
    $(document).ready(function () {
      $('.show-map-btn').click(function () {
        $('#mapModal').modal('show');
        var lat = $(this).data('lat');
        var lng = $(this).data('lng');
        $('#mapModal').on('shown.bs.modal', function () {
          initializeMap(lat, lng);
        });
      });

      function initializeMap(lat, lng) {
        // Remove any existing map instance
        $('#map').remove();

        // Create a new map container
        var mapContainer = $('<div id="map" style="width: 100%; height: 100%;"></div>');
        $('.modal-body').append(mapContainer);

        var map = L.map('map').setView([lat, lng], 17);

        map.setMinZoom(14); // Adjust the maximum zoom level as needed

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        const marker = L.marker([lat, lng]).addTo(map);

      }
    });
  </script>
</body>

</html>