{% extends 'base.html'%} 


{% block content %} 

<div class="container mt-4">
  <a href="#" onclick="history.back();" class="back-button"><i class="fas fa-chevron-left"> &nbsp; Back</i></a>
  <div class="report-container">
    <h3 class="text-center mb-5">FREQUENTLY ASKED QUESTIONS</h3>
    <div class="accordion-container">
      <button class="accordion">How do I report an incident? <i class="fas fa-chevron-down"></i></button>
      <div class="accordion-panel">
        <div class="accordion-content">
          <p>There are two ways to report an incident:</p>
          <br>
          <p>Using the hotline:</p>
          <p>Step 1: Call the hotline at +49 508 1159.</p>
          <p>Step 2: Describe the incident to the operator. The more details you provide, the better they can assist you</p>
          <p>Step 3: Wait for the first responders and further instructions.</p>
          <br>
          <p>Using i-Report</p>
          <p>Step 1: Click the "Report an Incident" button.</p>
          <p>Step 2: Fill out all the necessary details including contact number, location,</p>
          <p>number of victims, incident photo, and further details. You can also share your</p>
          <p>GPS location by clicking the checkbox beside 'Share my Location'.</p>
          <p>Step 3: Once done, click "Submit" button and wait for the first responders.</p>
        </div>
      </div>
      <div class="accordion-container">
        <button class="accordion">How to contact CDRRMO? <i class="fas fa-chevron-down"></i></button>
        <div class="accordion-panel">
          <div class="accordion-content">
            <p>The Cabuyao City Disaster Risk and Reduction and Management Office is located at the Cabuyao Retail Plaza, Cabuyao City, Laguna.</p>
          </div>
        </div>
    </div>
  </div>
</div>
</div>
</div>

<div class="container-last"></div>

{% endblock %} 


{% block script %}

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }

      
    });
  }
</script>

{% endblock%}
