{% extends 'base.html'%} {% block content %}

<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-12 text-center">
      <img
        src="{{ url_for('static', filename='image/CDRRMO_LOGO.png') }}"
        alt="CDRRMO Logo"
        class="logo-img"
      />
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-12">
      <a href="{{ url_for('incident_form') }}" class="report-button">
        <div class="d-flex justify-content-start align-items-center">
          REPORT AN INCIDENT
        </div>
      </a>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-12">
      <div class="accordion" id="cdrrmoAccordion">
        <div class="card">
          <div class="card-header" id="cdrrmoHeading">
            <h2 class="mb-0">
              <button
                class="btn btn-link"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#cdrrmoCollapse"
                aria-expanded="true"
                aria-controls="cdrrmoCollapse"
              >
                <div class="d-flex justify-content-start align-items-center">
                  ABOUT CDRRMO &nbsp;<i class="fas fa-chevron-down"></i>
                </div>
              </button>
            </h2>
          </div>
          <div
            id="cdrrmoCollapse"
            class="collapse"
            aria-labelledby="cdrrmoHeading"
            data-parent="#cdrrmoAccordion"
          >
            <div class="card-body">
              The CDRRMO is responsible for overseeing disaster risk management
              programs within its jurisdiction, coordinating activities to meet
              national standards, conducting risk assessments, and creating
              Local Disaster Risk Reduction and Management Plans (LDRRMPs) in
              collaboration with local councils. It operates early warning
              systems, monitors disasters, and mobilizes resources during
              emergencies while fostering partnerships with various
              stakeholders.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-12">
      <div class="accordion" id="ireportAccordion">
        <div class="card">
          <div class="card-header" id="ireportHeading">
            <h2 class="mb-0">
              <button
                class="btn btn-link"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#ireportCollapse"
                aria-expanded="true"
                aria-controls="ireportCollapse"
              >
                <div class="d-flex justify-content-start align-items-center">
                  ABOUT i-REPORT &nbsp;<i class="fas fa-chevron-down"></i>
                </div>
              </button>
            </h2>
          </div>
          <div
            id="ireportCollapse"
            class="collapse"
            aria-labelledby="ireportHeading"
            data-parent="#ireportAccordion"
          >
            <div class="card-body">
              Individuals can promptly report emergencies like fires, traffic
              accidents, and rescue situations, supplementing their reports with
              photos taken directly from the app to ensure accuracy. Geotagging
              provides precise location data for swift response, while detailed
              incident descriptions empower authorities to allocate resources
              effectively. i-Report facilitates active citizen engagement in
              community safety, fostering collaboration between residents and
              emergency responders to build resilient, responsive cities.
              <div class="text-center">
                <a
                  href="{{ url_for('faqs') }}"
                  class="font-italic text-decoration-underline"
                  >FREQUENTLY ASKED QUESTIONS</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-last"></div>

{% endblock %}
