{% extends 'base.html'%} {% block content %}

<div class="container mt-4">
  <a href="#" onclick="history.back();" class="back-button">
    <i class="fas fa-chevron-left"></i> &nbsp;Back
  </a>

  <div class="row justify-content-center">
    <div class="col-10 terms-privacy">
      <div class="card">
        <div class="card-header text-center">PRIVACY POLICY</div>
        <div class="card-content">
          <p>
            The Cabuyao City Disaster Risk Reduction and Management Office
            (CDRRMO) provides access to i-Report, its online citizen incident
            reporting application. i-Report, its updates, enhancements, and new
            features are subject to this privacy statement.
          </p>

        
          <p><strong>Accumulation of Personal Data</strong></p>

          <ul><li><p><strong>Accessing Personal Data</strong></p></li></ul>
          <p>
            i-Report collects and accesses data based on what you have given.
            The system adheres to the Republic Act No. 10173, also known as the
            Data Privacy Act of 2012. In accordance with Section 3(b) of the
            Act:<br />
            “Consent of the data subject refers to any freely given, specific,
            informed indication of will, whereby the data subject agrees to the
            collection and processing of personal information about and/or
            relating to him or her. Consent shall be evidenced by written,
            electronic or recorded means.”
          </p>

          <p>
            The data we collect depends on the information you provide and can
            include the following:
          </p>

          <p><strong>CDRRMO Employees</strong></p>
          <p>
            <ul><li><p><strong>Name and contact information. </strong></p></li></ul> We collect your first, middle (if
            available), and last name. If you have name prefixes and suffixes
            (based on your Philippine Statistics Office birth certificate), it
            will be collected as well. Furthermore, email address, home address,
            and mobile number/s will be gathered.
          </p>
          <p>
            <ul><li><p><strong>Credentials.</strong></p></li></ul> We collect positions/roles, passwords, and similar
            security information used for authentication and account access.
          </p>

          <p><strong>Citizens</strong></p>
          <p>
            <ul><li><p><strong> Name (optional).</strong></p></li></ul> Name (optional). We may collect your name when you access the web
            application. Furthermore, address, mobile number, incident details,
            and picture of the incident will be gathered.
          </p>
          <p>
            <ul><li><p><strong>Contact information, location, and incident details.</strong></p></li></ul> To respond to
            your emergency, we must be able to identify your address, mobile
            number, incident details, and pictures of the incident.
          </p>

          <p><strong>Device and Usage Data</strong></p>
          <p>
            We collect data about your device and how you interact with
            i-Report. For instance, we collect:
          </p>
          <ul><li><p><strong>Device, Connectivity, and Configuration Data. </strong></p></li></ul>
          <p>We gather information about your device and the network you use to connect to i-Report. This includes details about operating systems andother software used to access the services, such as browsers, as well as IP addresses.   </p>
           

          <p><strong>Security of Personal Data</strong></p>
          <p>
            i-Report is committed to protecting the security of your personal
            data. We use various security technologies and procedures to help
            protect your personal data from unauthorized access, use, or
            disclosure. For instance, we store the personal data you provide on
            computer systems with limited access, located in controlled
            facilities.
          </p>

          <p><strong>User Account</strong></p>
          <p>
            With a user account, you can sign into i-Report. Signing into your
            account enables access to specific services and allows you to use
            the application to respond to emergency reports. Your sign-in
            activity will be recorded and maintained.
          </p>

          <p><strong>About the Privacy Statement</strong></p>
          <p>
            We will update this privacy statement as necessary. When we make
            changes, we will revise the "last updated" date at the top of the
            statement. We encourage you to periodically review this privacy
            statement to understand how i-Report and the CDRRMO protect your
            information.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
